<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>
<p><%= @user.first_name%></p>
<p><%= @user.last_name%></p>
<p> <%= @user.description%></p>
<p> <%= @user.email%></p>
<p> <%= @user.event_id%></p>